  body.login {

  }

  body {
      background-color: #fff;
  }


  .login h1 a {
      background-image: url(../img/logo-the-many-login.png);
      background-size: 250px;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;
      width: 300px;
      outline: 0;
      display: block;
      z-index: 5000;
	
  }
  .wp-core-ui .button-primary {
       box-shadow: 0 1px 0 #006799; 
       text-shadow: 0!important; 
  }
    



  .login #backtoblog a, .login #nav a {
    display: none;
  }

  .login label {
    font-size: 14px;
    color: #555555;
    font-family: 'IBM Plex Sans', sans-serif;
  }


  .login form {
      margin-top: -130px;
	   border:solid 1px rgba(0,0,0,.1);
      margin-left: 0;
      padding: 26px 24px 46px;
      background: #fff;
      box-shadow: 0 0px 14px rgba(0, 0, 0, 0.07);
      -webkit-border-radius: 2px;
	  border-radius: 2px;
	  height: 193px;

  }



  .login input[type="text"]{
      font-size: 24px;

    background-color: #ffffff; 
    border-color:#dddddd;
      font-family: 'IBM Plex Sans', sans-serif;
    -webkit-border-radius: 2px;
	border-radius: 2px;
    margin-bottom: 15px;
  }

  #login form p.submit {
      margin: 0;
      padding: 0;
      padding-top: 10px;
  }

  #login form p {
      margin-bottom: 0;
      padding-top: 10px;
  }


  .wp-core-ui .button-primary {
      background: #ffffff;
      border-color: #000;
      -webkit-box-shadow: none; 
      box-shadow: none; 
      color: #000;
      text-decoration: none;
      text-shadow: none; 
      font-family: 'IBM Plex Sans', sans-serif;
                 -webkit-border-radius: 2px;
		border-radius: 2px;
  }


.login #login_error, .login .message {
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin-left: 0;
    margin-top: 142px;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
